---
import "normalize.css";

import BaseHead from "@components/layout-helpers/BaseHead.astro";

interface Props {
    title: string;
    description: string;
    keywords: string[];
    faviconPath?: string;
    suppressDefaultViewport?: boolean;
}

const {
    title,
    description,
    keywords,
    faviconPath,
    suppressDefaultViewport,
} = Astro.props;
---

<!doctype html>

<!--
 Author: simshadows <contact@simshadows.com>
License: GNU Affero General Public License v3.0 (AGPL-3.0)

Full source code is available here:
<https://github.com/simshadows/web-apps>
-->

<html lang="en">
    <BaseHead
        title={title}
        description={description}
        keywords={keywords}
        {...(faviconPath ? {faviconPath} : {})}
        {...(suppressDefaultViewport ? {suppressDefaultViewport} : {})}
    >
        <slot name="head"/>
    </BaseHead>
    <body>
        <slot/>
    </body>
</html>

